div(class='is-center test-boarder', ng-init='reverse=true;sort="statistics.totalNumberOfLinks"')
  div(class='pure-g')
    div(class='pure-u-1-5 mouse-pointer', id='name', ng-click='reverse=!reverse;sort = "name"')
      h3(class='is-center') User name
    
    div(class='pure-u-1-5 mouse-pointer', ng-click='reverse=!reverse;sort = "statistics.totalNumberOfLinks"')
      h3(class='is-center') Number of links
    
    div(class='pure-u-1-5 mouse-pointer', ng-click='reverse=!reverse;sort = "statistics.daysLogged"')
      h3(class='is-center') Total conversations
    
    div(class='pure-u-1-5 mouse-pointer', ng-click='reverse=!reverse;sort = "statistics.averageLinksPerConversation"')
      h3(class='is-center') Average link per conversation
    
    div(class='pure-u-1-5 mouse-pointer', ng-click='sort = ""')
      h3(class='is-center') Most recent link on reccord 
      
table(class='pure-table pure-table-horizontal full-width')
  tbody
    tr(ng-repeat="user in users | filter:query | orderBy: sort:reverse")
      td(class='pure-u-1-5')
        a(class='is-center', href='/user/{{user.historyId}}') {{user.name}}
      
      td(class='pure-u-1-5')
        p(class='is-center')  {{user.statistics.totalNumberOfLinks}}
      
      td(class='pure-u-1-5')
         p(class='is-center') {{user.statistics.daysLogged}}

      td(class='pure-u-1-5')
        p(class='is-center')  {{user.statistics.averageLinksPerConversation.sigFig(2)}}
      
      td(class='pure-u-1-5')
        a(class='is-center', href="{{user.statistics.latestLinkSent.url}}", target="_blank") {{user.statistics.latestLinkSent.domain }} 
